/* A lot of things in the div with this id */
/* #content
  color: #00AAAA */

body
  padding: 10px !important

.notice
  border: 2px solid red
  padding: 10px
  margin-bottom: 20px
  background-color: #f0f0f0
  font: bold smaller sans-serif

#second-user-ops
  text-align: right
  .greeting
    color: red
    font-size: 13pt
  .info
    font-style: italic
    font-weight: 200
  .nav
    color: blue
    text-decoration: none

#add-game
  text-align: right

#game-list
  .game
    width: 300px
    background: rgb(255, 255, 125)
    border: 2px solid blue
    padding: 5px 10px
    margin-bottom: 5px
    .title
      text-align: center
      display: block
      color: black
      font-size: 13pt
      margin: 5px auto
      margin-bottom: 10px
    .desc
      display: block
      color: gray
      font-size: 11pt
      margin-bottom: 2px
    .ctl
      text-align: right
      button
        margin: 5px 2px
      a
        text-decoration: underline

#statistics
  table, td, th
    border: 3px solid green
    padding: 15px
    width: 210px
  th
    background:  rgb(100, 240, 170)
    color: white
    height: 25px
  td
    color: black
    width: 70px

